*__pycache__
model/deep_csc.py
*.xml
runs
python
classification
clinicadl
cnn
gui
testing
dataanalysis
*.bat
convolutionalSparseDT*
*ccsc.py
convSDT.py
csc_mnist.py
learn_coefficients.py
test_csc_sporco.py
full_learning.py
run_icttest.py
csctesting/thresholding.py
analyse_results.py
create_csv_pickle.py
prepare_adni*
sparse_representation.py
sc/